powerapps/Microsoft.Flow/flows/7bd77b26-8b53-49c5-999a-d0a2c31ef326/definition.json
{"name":"067d7d4c-f2e6-444e-b127-e88ff3334959","id":"/providers/Microsoft.Flow/flows/067d7d4c-f2e6-444e-b127-e88ff3334959","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getcounter","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9168d7ed-bd54-4ae8-af32-a82b844e755a","type":"User","tenantId":"2cd68f7f-2a7f-4ecb-ac98-86f565e85bc7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-05-17T12:55:26.6959562Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"60f20ed1-43ef-4988-8e90-10d4b8e3b579"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"작성_입력":{"type":"any","description":"입력","x-ms-powerflows-param-ispartial":false}},"required":["작성_입력"]}}}},"actions":{"작성":{"runAfter":{},"metadata":{"operationMetadataId":"e9186b16-6061-405a-a7b3-fc2491328173"},"type":"Compose","inputs":"@triggerBody()['작성_입력']"},"generate":{"runAfter":{"작성":["Succeeded"]},"metadata":{"operationMetadataId":"d9ab2d94-7a23-4c9a-a65f-d3766c7cbe10"},"type":"Http","inputs":{"method":"POST","uri":"https://42b07241ed61f941a4.gradio.live/run/predict","body":{"data":["@outputs('작성')"]}}},"JSON_구문_분석":{"runAfter":{"generate":["Succeeded"]},"metadata":{"operationMetadataId":"4ebc44cd-1f06-4aae-b3d7-73997eac6019"},"type":"ParseJson","inputs":{"content":"@body('generate')","schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}},"is_generating":{"type":"boolean"},"duration":{"type":"number"},"average_duration":{"type":"number"}}}}},"PowerApp_또는_흐름에_응답":{"runAfter":{"JSON_구문_분석":["Succeeded"]},"metadata":{"operationMetadataId":"6935b7cd-5b1c-449a-8c36-dfa92a9345d2"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"img":"@{body('JSON_구문_분석')?['data']}","img2":"@{body('JSON_구문_분석')?['data']}"},"schema":{"type":"object","properties":{"img":{"title":"Img","x-ms-dynamically-added":true,"type":"string"},"img2":{"title":"Img2","x-ms-dynamically-added":true,"type":"string","format":"byte"}}}}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}